<!-- <iframe width="1200" height="800" src="http://localhost/GoGoCartoJs/web/index.html?iframe=1&fullTaxonomy=0#/carte/morcenx@44.46,-0.78,11z?cat=Agriculture@+okc10430oke" frameborder="0" marginheight="0" marginwidth="0"></iframe> -->

<iframe width="800" height="600" src="http://localhost/GoGoCartoJs/web/dev-gogocarto.html?iframe=1&stampsIds=2#/carte/labrit@44.51,-0.14,10z?cat=all" frameborder="0" marginheight="0" marginwidth="0"></iframe>